* {
    margin: 0px;
    padding: 0px;
} 

.water {
    background-image: url(https://images.unsplash.com/photo-1518837695005-2083093ee35b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;



}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          


.heading {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#head {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.techqni {
    height: 800px;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-column-gap: 10px;
    background-image: url(https://images.unsplash.com/photo-1586455122341-927f2dec0691?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);


}

.box {
    background-color: orange;
    color: blue;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    opacity: 0.7;
}

#a1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#a2 {
    grid-column-start: 4;
    grid-column-end: 6;
}

#a3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#a4 {
    grid-column-start: 3;
    grid-column-end: 6;
}

#a5 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#a6 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.img1 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
}

.p1 {
    width: 70%;
}

.img2 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
}

.p2 {
    width: 50%;
}

.img4 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
}

.p4 {
    width: 70%;
}

.img3 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
}

.p3 {
    width: 50%;
}

.img5 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
}

.p5 {
    width: 70%;
}

.img6 {
    background-image: url(https://images.unsplash.com/photo-1526137630052-dc2c4693f0d5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgb(173, 5, 5);
    margin: 20px;
}

.p6 {
    width: 50%;
}

.container {
    background-color: red;
    color: rgb(90, 5, 5);
    height: 100px;
    width: 1300px;
    border-radius: 5px;
    border: 2px solid rgb(49, 1, 1);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view {
    text-decoration: none;
    margin: 20px;
    color: rgb(90, 5, 5);

}

.view:hover {
    text-decoration: underline;

}

.foot {
    background-color: yellowgreen;
    display: flex;
    height: 500px;
    width: 1300px;
    border-radius: 10px;
}

.khoka {
    height: 300px;
    width: 300px;
    margin: 20px 10px;
    background-color: rgb(12, 81, 141);
    color: rgb(4, 14, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;

}

.khoka:hover {
    opacity: 0.9;
}